.btn {
  width: 9rem;
  height: 3rem;
  border-radius: 0.3rem;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
}

.blue {
  background: #03c6fc;
  border: 0.2rem solid #00b2e3;
}

.transparent {
  background: transparent;
  border: 0.2rem solid #fff;
}
